.jumbotron {
			padding: 2rem 1rem;
 			margin-bottom: 2rem;
  			background-color: #e9ecef;
  			border-radius: .3rem;
		}

		#jumbotron-text {
			padding-top: 2rem;
		}

		nav {
			border-top: thin #5b7d87 solid;
    		border-bottom: thin #5b7d87 solid;
    		padding-top: 12px;
    		padding-bottom: 12px;
		}
		nav .btn {
			background-color: #5b7d87;
			color: #fef9ff;
		}
		nav .btn:hover {
			font-weight: bold;
		}
		body {

		}
		img {
			padding-top: 2rem;
			
		}
		#descriptionDiv {
			padding-top: 2rem;
		}
		#submit {
			margin-top: 1rem;
		}